.con
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background: rgb(211, 208, 201); */
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    height: 100%;

}


.H
{
    padding: 20px;
    background:linear-gradient(to right, rgb(249, 1, 1),rgb(6, 188, 21),rgb(5, 232, 191));
    background-clip:text ;
 -webkit-background-clip:text;
 -webkit-text-fill-color:transparent;
   margin-top: 5%;  

}

h2,h1
{
  text-transform: uppercase;
  text-align: center;
 
}
.d1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: rgb(248, 243, 243);
    height: 330px;
    max-width: 350px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px 20px 2px 2px;
    margin: auto;
    transition: all 2s;
    transform: perspective(800px) rotateY(30deg);
   
}

.d1:hover
{
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
}
 

i
{
    color: red;
    
}

@media screen and (max-width:840px) {
    .con
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:600px) {
    .con
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    h1
    {
        font-size: large;
    }
}

