#fees
{
  height: 40px;
}
.pro
 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
    color: aliceblue;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    padding-bottom: 2%;
    margin-top: 5%;
 }


 .pro1 div , .pro2 p {
  padding-bottom: 20px;
 }

.pro1, .pro2
{
    margin:  0;
    align-items: center;
    padding: 5% 5%;
    text-align: center;
    
}

.feeImage {
   
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-bottom: 10%;

  }
  
  .feeImage img {
 width: 100%;
 height: 100%;
  }
  @media (max-width:635px)
{
  .pro
  {
  display: flex;
  flex-direction: column;
  }
}